.conversationItem {
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 2rem;
  margin: 0.25rem 0.25rem;
  /* border: 1px solid var(--border-color); */
  width: calc(100% - 0.5rem);
  box-sizing: border-box;
}

.conversationItem:hover {
  background-color: var(--hover-bg);
}

.conversationItem.active {
  background-color: var(--border-color);
}

.conversationItemTitle {
  font-weight: 400;
  font-size: 0.95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
