/* plus icon area */
.plusSection {
  height: 40px;
  line-height: 40px;
  width: 100%;
  margin-top: 70px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
  padding-left: 0.5rem;
  box-sizing: border-box;
  position: relative;

}

.plusSection:hover {
  background-color: var(--hover-bg);
}

.plusIconWrapper {
  min-width: 60px; /* Match the collapsed sidebar width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusIcon {
  width: 20px;
  height: 20px;
  color: var(--text-color);
}

.plusTitle {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease 0.1s, visibility 0.2s ease 0.1s;
}

.plusSection.open .plusTitle {
  opacity: 1;
  visibility: visible;
}
